{% load static %}
{% for hit in hit_list %}
<div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
    <div class="card job-box rounded shadow border-0 overflow-hidden">
        <div class="border-bottom">
            <div class="position-relative">
                <img src="{% static 'images/bg.png' %}" class="img-fluid" alt="" width="650" height="650">
                <div class="job-overlay bg-white"></div>
            </div>
            {% include "hits/status-hit.html" %}
        </div>

        <div class="card-body content position-relative">
            <div class="firm-logo  shadow bg-light text-center">
                <img src="{% static 'images/pulpbit.gif'%}" class="avatar avatar-md-sm" alt="">
            </div>
            <div class="company-detail text-center mt-3">
                <h5 class="mb-0">
                  <a href="page-job-company.html" class="text-dark company-name">
                      {{hit.title}}
                  </a>
                </h5>
                <p class="text-muted"><a href="#" class="video-play-icon text-muted"><i data-feather="user-check" class="fea icon-sm"></i> {{hit.assignee.get_full_name}}</a></p>
                <p class="text-muted"><a href="#" class="video-play-icon text-muted"><i data-feather="calendar" class="fea icon-sm"></i> {{hit.created|date}}</a></p>
            </div>
            <a href="{% url 'hit-detail' hit.pk %}" class="btn btn-outline-primary btn-block">Detail</a>
        </div>
    </div>
</div><!--end col-->
{% endfor %}
