{% extends 'base.html' %}
{% load static %}
{% block content %}
<!-- Hero Start -->
<section class="bg-half bg-light d-table w-100">
    <div class="container">
        {% include "common/alerts.html"%}
        <div class="row justify-content-center">
            <div class="col-lg-12 text-center">
                <div class="page-next-level">
                    <h4 class="title"> HITS</h4>
                </div>
            </div>  <!--end col-->
        </div><!--end row-->
    </div> <!--end container-->
</section><!--end section-->
<!-- Hero End -->

<!-- Shape Start -->
<div class="position-relative">
  <div class="shape overflow-hidden text-white">
      <svg viewBox="0 0 2880 48" fill="none" xmlns="http://www.w3.org/2000/svg">
          <path d="M0 48H1437.5H2880V0H2160C1442.5 52 720 0 720 0H0V48Z" fill="currentColor"></path>
      </svg>
  </div>
</div>
<!--Shape End-->

<!-- Job List Start -->
<section class="section">
  <div class="container">
      <div class="row">
          <div class="col-lg-4 col-md-6 col-12 mt-4 pt-2">
              <div class="card job-box rounded shadow border-0 overflow-hidden">
                  <div class="border-bottom">
                      <div class="position-relative">
                          <img src="{% static 'images/bg.png' %}" class="img-fluid" alt="" width="650" height="650">
                          <div class="job-overlay bg-white"></div>
                      </div>
                      <ul class="list-unstyled head mb-0">
                          <li class="badge badge-success badge-pill">Full Time</li>
                      </ul>
                  </div>

                  <div class="card-body content position-relative">
                      <div class="firm-logo  shadow bg-light text-center">
                          <img src="{% static 'images/pulpbit.gif'%}" class="avatar avatar-md-sm" alt="">
                      </div>
                      <div class="company-detail text-center mt-3">
                          <h5 class="mb-0"><a href="page-job-company.html" class="text-dark company-name">CircleCi</a></h5>
                          <p class="text-muted"><a href="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d39206.002432144705!2d-95.4973981212445!3d29.709510002925988!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8640c16de81f3ca5%3A0xf43e0b60ae539ac9!2sGerald+D.+Hines+Waterwall+Park!5e0!3m2!1sen!2sin!4v1566305861440!5m2!1sen!2sin" class="video-play-icon text-muted"><i data-feather="map-pin" class="fea icon-sm"></i> San Francisco</a></p>
                      </div>
                      <a href="page-job-detail.html" class="btn btn-outline-primary btn-block">Detail</a>
                  </div>
              </div>
          </div><!--end col-->

          <!-- PAGINATION START -->
          <div class="col-12 mt-4 pt-2">
              <ul class="pagination justify-content-center mb-0">
                  <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Previous">Prev</a></li>
                  <li class="page-item active"><a class="page-link" href="javascript:void(0)">1</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">2</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)">3</a></li>
                  <li class="page-item"><a class="page-link" href="javascript:void(0)" aria-label="Next">Next</a></li>
              </ul>
          </div><!--end col-->
          <!-- PAGINATION END -->
      </div><!--end row-->
  </div><!--end container-->
</section><!--end section-->
<!-- Job List End -->
{% endblock content %}